## Rename this file to .docker env

## Bootstrap
PARAMS=-advertise $PUBLIC_IP -bootstrap -server -ui -recursor 8.8.8.8 -recursor 8.8.4.4

## Server
#PARAMS=-advertise $PUBLIC_IP -server -join 127.0.0.1 -recursor 8.8.8.8 -recursor 8.8.4.4

## Agent
#PARAMS=-advertise $PUBLIC_IP -join 127.0.0.1 -recursor 8.8.8.8 -recursor 8.8.4.4

## Local
#PARAMS=-advertise 192.168.0.30 -bootstrap -server -ui -recursor 8.8.8.8 -recursor 8.8.4.4